@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(http://fonts.googleapis.com/css?family=Audiowide);
@import url(http://fonts.googleapis.com/css?family=Fredericka+the+Great);
@import url(http://fonts.googleapis.com/css?family=Karla:700italic);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(http://fonts.googleapis.com/css?family=Jaldi);
@import url(http://fonts.googleapis.com/css?family=Martel:400,800);

#top{
    max-height: 15vmax;
    margin-bottom: 1vh;
}

#panel {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}


#directions-panel {
    height: 100%;
    overflow: auto;
}

#map-canvas {

    height: 67vh;
    margin: 1vh;
    
}

#control {
    background: #fff;
    padding: 5px;
    font-size: 14px;
    font-family: 'Jaldi', sans-serif;
    border: 1px solid #ccc;
    
    display: none;
}


@media print {
    #map-canvas {
        height: 500px;
        margin: 0;
    }

    #directions-panel {
        float: none;
        width: auto;
    }
}

#Header{
    font-family: 'Fredericka the Great', sans-serif;
    text-align: center;
    text-decoration: underline;
    overflow: visible;
}

.col-md-12{
    text-align: center;
    margin-top: 15px;
    border-left: dimgray 1px solid;
    border-right: dimgray 1px solid;
    background-color: #BCBCBC;

}

#littleMessage {
    font-family: 'Jaldi', sans-serif;    
    text-align: center;

}
#selectedTB{
    font-family: 'Jaldi', sans-serif;
}
.SubHeadline{
    font-size: 2.625em;
    font-family: 'Jaldi', sans-serif;
    text-decoration: underline;
    color: black;

}

#resTb{
    color:magenta;
    text-align: center;
    
    font-family: 'Jaldi', sans-serif;
}
#infoCont{
    color:magenta;
    font-family: 'Jaldi', sans-serif;
    text-decoration: none;

}
#resTb{
    color:magenta;
}
#infoCont{
    color:magenta;
    font-family: 'Jaldi', sans-serif;
    font-size: 1.15em;
}
.hoverImg{
    border: 1px purple solid;
}

